<div class="col-sm-3" <%= series.gn_id %>">
  <h2>Title: <%= series.title || "not available"%></h2>
  <h3><%= series.synopsis ? "Synopsis: " + series.synopsis : ""%></h3>
  <img src="<%=series.image%>">
</div>
