<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<div class="container">
  <div class="row">
    <% if !@tvparse %>
      <h4>No TV search results</h4>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row" id="results">

  </div>
<div >

</div>

<script>
  var railsItems = <%== @tvparse.to_json %>;
  var userQueuedShows = <%==@userqueuedshows.to_json %>;
  var userFinishedShows = <%==@userfinishedshows.to_json %>;
</script>
<script src="/js/results.bundle.js"></script>



<!-- Go to www.addthis.com/dashboard to customize your tools -->
