<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<div class="container">
  <div class="row">
    <% if @tvparse %>
      <% @tvparse.each do |series| %>
      <%= render 'showshort', :series => series %>
      <% end %>
    <% else %>
      <h4>No TV search results</h4>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row" id="results">

  </div>
<div >

</div>

<script>
  var railsItems = <%== @tvparse.to_json %>;
</script>



<!-- Go to www.addthis.com/dashboard to customize your tools -->
