<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>
hello registered plethora user. this site is not currently up yet. come back later.
<br /><br />


<%= form_tag search_path, class: 'navbar-form navbar-right', method: "get" do %>
<div class="form-group">
<%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control' %>
</div>
<%= submit_tag "Submit", class: 'btn' %>
<% end %>
