<div class="mainContent container">

  <h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

  <h1 class="text-center tagline">all the media you want to get to</h1>
  <h2 class="text-center subheaderHome"> in one place</h2>

</div>
