<h3> hello eager plethora users. this site is not currently up yet. come back later when you can sign-in or sign-up. </h3>

<%= image_tag "plethora_logo_bw.svg" %>
<%= image_tag "small_plethora_logo.svg" %>


<%= link_to "New User", new_user_path %>
<%= link_to "Sign-in", login_path %>
