<div class="mainContent container">

  <h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

  <h1 class="text-center tagline">Lorem ipsum dolor sit amet.</h1>
  <h2 class="text-center subheaderHome">Duis aute irure dolor.</h2>

</div>
