<div class="mainContent container">

  <h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

  <h1 class="text-center tagline">here to help you remember</h1>
  <h2 class="text-center subheaderHome">all the media you've been neglecting</h2>

  <button id="signupBtn" class="center-block"><%= link_to "let's get started", new_user_path %></button>

</div>
