<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<div class="container">

<h3> hello eager plethora users. this site is not currently up yet. come back later when you can sign-in or sign-up. </h3>

<%= link_to "New User", new_user_path %>
<%= link_to "Sign-in", login_path %>

</div>
