<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>
<div class="container makingPage">
  <div class="row">
    <h1 class="text-center">About Us</h1>
    <h3 class="text-center subtitle">Plethora brought to you by:</h3>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row bio">
        <div class="col-sm-4 aboutPic">
          <%= image_tag("amber's picture here", class: "img-responsive img-rounded") %>
          <h2><small>Amber Smith</small></h2>
        </div>
        <div class="col-sm-8">
          <h3 class="text-justify">Amber's bio here</h3>
        </div>
      </div>
      <div class="row bio">
        <div class="col-sm-4 aboutPic">
          <%= image_tag("plethora_daniel.jpg", class: "img-responsive img-rounded") %>
          <h2><small>Daniel Wegrzen</small></h2>
        </div>
        <div class="col-sm-8">
          <h3 class="text-justify">Semiconductor process engineer turned software developer after deciding that a career in high tech manufacturing was maybe not all it was originally cut out to be. I've always had a knack for technology, understanding systems, and trying to make things simple and efficient. Switching over to software development has created entirely new challenges that align with interests I've always had but never thought would be attainable. Now that I've taken the big step towards programming, I hope to be able to find a new career, a new passion, and an overall better outlook on life.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
