<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>
<div class="container makingPage">
  <div class="row">
    <h1 class="text-center">About Us</h1>
    <h3 class="text-center subtitle">The Makers of Plethora</h3>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row bio">
        <div class="col-sm-4 aboutPic">
          <%= image_tag("plethora_amber.jpeg", class: "img-responsive img-rounded") %>
          <h2>Amber Smith</h2>
        </div>
        <div class="col-sm-8">
          <h3 class="text-justify">I'm a web developer with a passion for  writing dry code; designing beautiful, responsive websites using CSS, SASS, and Bootstrap; and using React.js to create scalable applications (like Plethora!). I'm also a recent graduate of The Iron Yard Indy’s Front End Engineering Course. My specialties include: optimizing designs for various device sizes and working with clients to determine and meet their needs. I'm particularly focused on creating applications that make the world a better place.</h3>
        </div>
      </div>
    </br>
      <div class="row bio">
        <div class="col-sm-4 aboutPic">
          <%= image_tag("plethora_daniel.jpg", class: "img-responsive img-rounded") %>
          <h2>Daniel Wegrzen</h2>
        </div>
        <div class="col-sm-8">
          <h3 class="text-justify">Semiconductor process engineer turned software developer after deciding that a career in high tech manufacturing was maybe not all it was originally cut out to be. I've always had a knack for technology, understanding systems, and trying to make things simple and efficient. Switching over to software development has created entirely new challenges that align with interests I've always had but never thought would be attainable. Now that I've taken the big step towards programming, I hope to be able to find a new career, a new passion, and an overall better outlook on life.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
