<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<div class="container makingPage">
  <div class="row">
    <h1 class="text-center">What is Plethora?</h1>
    <h3 class="text-center subtitle"></h3>
    <div class="col-sm-8 col-sm-offset-2">
      <h3 class="text-justify">Plethora is where you can come to help you remember all of the shows, music, or movies that you've been meaning to get around to but often forget.</h3>
      <h3 class="text-justify">Using TheMovieDatabase and Discogs API's, you will be able to find hundreds of thousands of unique media through Plethora's search and add as many to your library as you like.</h3>
      <h3 class="text-justify">Track your finished media by toggling completion status and your library will reflect it as completed.</h3>
      <br>
      <h3 class="text-center"><em>Let's create your Plethora....</em></h3>
      <br>
      <h2 class="technologiesUsed">
        <a href="<%= root_path %>"><%= image_tag('logo_small.png') %></a>
      </h2>
    </div>
  </div>
</div>
