/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$yellow: #FFC857;
$mint: #CEEDE7;
$teal: #476A6F;
$darkTeal: #1F363D;
$black: #131515;


html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $mint;
    li {
        list-style: none;
    }
}

a:hover {
    text-decoration: none;
    color: white;
}

header {
    background-color: rgba(31, 54, 61, 0.8);
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
        color: RGB(200, 202, 206);
    }

//Mobile Header
    //Logged In
    .headerLogoMobile {
        width: 60%;
        max-width: 300px;
    }
    .loggedInStatusMobile {
        display: inline-block;
        font-size: 15px;
        margin-right: 10px;
    }
    .logoutLinkMobile {
        display: inline-block;
        font-size: 15px;
    }
    //Logged Out
    .loginLinkMobile {
        display: inline-block;
        font-size: 15px;
        margin-right: 15px;
        margin-top: 5px;
        color: $mint;
    }
    .signupLinkMobile {
        display: inline-block;
        font-size: 15px;
        margin-top: 5px;
        color: $mint;
    }

//Desktop Header
    //Logged In
    .headerLogoDesktop {
        margin-left: 25px;
        width: 280px;
        float: left;
    }
    .loggedInStatusDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 15px;
    }
    .logoutLinkDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 25px;
    }
    //Logged Out
    .loginLinkDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 25px;
        background-color: $teal;
        border-radius: 3px;
        padding: 5px 10px;
        a {
            color: $mint;
            &:hover {
                color: white;
            }
        }
    }
    .signupLinkDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 15px;
        background-color: $teal;
        border-radius: 3px;
        padding: 5px 10px;
        a {
            color: $mint;
            &:hover {
                color: white;
            }
        }
    }
}

.navbar-form {
    margin-right: 0px;
}

// Body code that only applies when a user is logged out
body.loggedout {
    background-image: linear-gradient(rgba(31, 54, 61, .5), rgba(31, 54, 61, .5)), url('plethoraBackground.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// Body code that only applies when a user is logged in
body.loggedin {
    background-color: $darkTeal;
    header {

    }
    footer {
        margin-top: 50px;
        background-image: linear-gradient(rgba(31, 54, 61, 0.6), (rgba(31, 54, 61, 0.6))), url('plethoraBackground.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        a {
            color: white;
            font-size: 15px;
        }
    }
}

body {
    .mainContent {
        min-height: 100%;
        margin-bottom: -190px;
        &:after {
            content: "";
            display: block;
        }
        .tagline {
            color: white;
            padding-top: 100px;
            font-size: 40px;
            font-weight: 300;
        }
        .subheaderHome {
            font-size: 25px;
            color: white;
        }
        #signupBtn {
            margin-top: 55px;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 3px;
            padding: 15px 25px;
            &:hover {
                background-color: rgba(206, 237, 231, .2);
                border-color: $teal;
                a {
                    font-weight: bold;
                }
            }
            a {
                color: white;
                font-size: 20px;
            }
        }
    }

    // Log In, Sign Up pages - only accessible when not logged in
    #login, #signup, #loginForm, #signupForm {
        padding: 15px 20px 18px;
    }
    #login, #signup {
        margin-top: 50px;
        border-radius: 5px 5px 0px 0px;
        background-color: rgba(#1F363D, 0.85);
        color: white;
    }
    #loginForm, #signupForm {
        padding-top: 25px;
        border-radius: 0px 0px 5px 5px;
        background-color: rgba(206, 237, 231, .4);
    }
    #loginForm {
        .form-inputs {
            font-size: 15px;
            font-weight: bold;
        }
    }
    #signupFormBtn, #loginFormBtn {
        font-size: 15px;
        background-color: rgba(#476A6F, .75);
        border: none;
        border-radius: 3px;
        margin-top: 25px;
        margin-bottom: 10px;
        padding: 10px;
        min-width: 150px;
        color: $mint;
        &:hover {
            background-color: rgba(206, 237, 231, .5);
            color: $teal;
        }
    }


    #searchBarAndButton {
        margin: auto;
        #searchBar {
            width: 30%;
            margin-left: 32%;
            background-color: rgb(72, 78, 92);
            border: 1px solid RGB(200, 202, 206);
            border-radius: 5px 0px 0px 5px;
            padding: 5px 15px;
        }
        #searchBtn {
            background-color: transparent;
        }
        #searchType {
            width: 75px;
            display: inline-block;
            background-color: rgb(72, 78, 92);
        }
        select#searchType.form-control {
            border-radius: 0px 5px 5px 0px;
            -webkit-appearance: none;
            margin-left: -4px;
            height: 32px;
            position: relative;
            top: 1px;
            background-color: RGB(200, 202, 206);
            color: rgb(72, 78, 92);
        }
    }
    #results {
        width: 100%;
    }
    .mediaCat {
        font-size: 45px;
        margin-top: 50px;
        border-bottom: 2px solid RGB(200, 202, 206);
        a {
            color: RGB(200, 202, 206);
        }
    }
    .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 5px 5px 0px 0px;
        height: 250px;
        width: 100%;
        max-width: 300px;
        color: white;
        .hoverLayer {
            height: 250px;
            width: 100%;
            transition: all 0.3s ease;
            .title, .albumName, .artistName {
                padding-top: 15px;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
            .artistName {

            }
            .tvSynopsis {
                width: 80%;
                padding-top: 15px;
                transition: all 0.3s ease;
                text-decoration: none;
            }
        }
    }
    .itemLink:hover {
        .hoverLayer {
            background: rgba(9, 11, 14, 0.6);
            border-radius: 5px;
        }
        .tvSynopsis, .title, .albumName, .artistName {
            visibility: visible !important;
            opacity: 1 !important;
        }
    }
    .searchImage {
        margin-top: 30px;
        border-radius: 5px 5px 0px 0px;
    }
    #leftBtn {
        border-top-left-radius: 0px;
    }
    #rightBtn {
        border-top-right-radius: 0px;
    }
    .btn-group {
        max-width: 300px;
        margin: auto;
    }
    .btnGroupDetail {
        max-width: 325px;
    }
}

footer {
    height: 200px;
    background-color: $darkTeal;
    a {
     color: $mint;
     &:hover {
         color: white;
     }
    }
    .footerLogo {
        width: 100%;
        max-width: 150px;
    }
    .footerLinks {
        padding-top: 30px;
        margin-bottom: 20px;
        .what {
            margin-top: 15px;
            margin-bottom: 20px;
        }
        .making {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        background-color: transparent;
    }
    body {
        .mainContent {
            margin-bottom: -100px;
            .tagline {
                padding-top: 190px;
                font-size: 55px;
            }
            .subheaderHome {
                font-size: 35px;
            }
        }
    }
    //Home page code


    footer {
        height: 150px;
        .footerLinks {
            p {
                margin-top: 15px;
            }
        }
    }
}
