/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

a:hover {
    text-decoration: none;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;

    li {
        list-style: none;
    }

//Mobile Header
    //Logged In
    .headerLogoMobile {
        width: 60%;
        max-width: 300px;
    }
    .loggedInStatusMobile {
        display: inline-block;
        font-size: 15px;
        margin-right: 10px;
    }
    .logoutLinkMobile {
        display: inline-block;
        font-size: 15px;
    }
    //Logged Out
    .loginLinkMobile {
        display: inline-block;
        font-size: 15px;
        margin-right: 15px;
        margin-top: 5px;
    }
    .signupLinkMobile {
        display: inline-block;
        font-size: 15px;
        margin-top: 5px;
    }

//Desktop Header
    //Logged In
    .headerLogoDesktop {
        margin-left: 15px;
        width: 280px;
        float: left;
    }
    .loggedInStatusDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 15px;
    }
    .logoutLinkDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 15px;
    }
    //Logged Out
    .loginLinkDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 15px;
        background-color: rgba(72, 78, 92, .9);
        border: 1px solid #a0a6b4;
        border-radius: 3px;
        padding: 5px 10px;
        a {
            color: RGB(200, 202, 206);
        }
    }
    .signupLinkDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 15px;
        background-color: rgba(72, 78, 92, .9);
        border: 1px solid #a0a6b4;
        border-radius: 3px;
        padding: 5px 10px;
        a {
            color: RGB(200, 202, 206);
        }
    }
}

.navbar-form {
    margin-right: 0px;
}

body {
    height: 100%;
    #searchBarAndButton {
        margin: auto;
        #searchBar {
            width: 70%;
            margin-left: 15%;
        }
    }
    #results {
        width: 100%;
    }
    .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 250px;
        width: 100%;
        max-width: 300px;
        color: white;
        .hoverLayer {
            height: 250px;
            width: 100%;
            transition: all 0.3s ease;
            .tvTitle, .albumName, .artistName {
                padding-top: 15px;
                text-shadow: 1px 2px black;
            }
            .artistName {

            }
            .tvSynopsis {
                width: 80%;
                padding-top: 15px;
                transition: all 0.3s ease;
                text-decoration: none;
            }
        }
    }
    .itemLink:hover {
        .hoverLayer {
            background: rgba(0,0,0,.5);
        }
        .tvSynopsis {
            visibility: visible !important;
            opacity: 1 !important;
        }
    }
    .searchImage {

    }
}

footer {
    .footerLogo {
        width: 100%;
        max-width: 250px;
    }
    .footerLinks {
        font-size: 13px;
        padding-top: 30px;
        margin-bottom: 20px;
        .what {
            margin-top: 15px;
            margin-bottom: 20px;
        }
        .making {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 768px) {
    .footerLinks {
        font-size: 12px;
        p {
            margin-top: 15px;
        }
    }
}
