/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$yellow: #FFC857;
$mint: #CEEDE7;
$teal: #476A6F;
$darkTeal: #1F363D;
$black: #131515;
$white: #E7EEF1;


html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $black;
    li {
        list-style: none;
    }
}

a:hover {
    text-decoration: none;
    color: $white;
}

header {
    background-color: rgba(31, 54, 61, 0.8);
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
        color: $white;
    }

//Mobile Header
    //Logged In
    .headerLogoMobile {
        width: 60%;
        max-width: 300px;
    }
    .loggedInStatusMobile {
        display: inline-block;
        font-size: 15px;
        margin-right: 10px;
        color: $white;
    }
    .logoutLinkMobile {
        display: inline-block;
        font-size: 15px;
    }
    //Logged Out
    .loginLinkMobile {
        display: inline-block;
        font-size: 15px;
        margin-right: 15px;
        margin-top: 5px;
        color: $white;
    }
    .signupLinkMobile {
        display: inline-block;
        font-size: 15px;
        margin-top: 5px;
        color: $white;
    }

//Desktop Header
    //Logged In
    .headerLogoDesktop {
        margin-left: 25px;
        width: 280px;
        float: left;
    }
    .loggedInStatusDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 15px;
        color: $white;
    }
    .logoutLinkDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        margin-right: 25px;
    }
    //Logged Out
    .loginLinkDesktop, .signupLinkDesktop {
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 21px;
        background-color: $teal;
        border-radius: 3px;
        padding: 5px 10px;
        &:hover {
            background-color: rgba($black, .85);
        }
        a {
            color: $white;
        }
    }
    .loginLinkDesktop {
        margin-right: 25px;
    }
    .signupLinkDesktop {
        margin-right: 15px;
    }
}

.navbar-form {
    margin-right: 0px;
}

.label-info {
    background-color: transparent;
    font-weight: 300;
    position: absolute;
    left: 0;
    transition: 1s ease all;
}

.moveNotice {
    margin-left: -500px;
}

body.loggedout {
    background: linear-gradient(rgba(31, 54, 61, 0.5), rgba(31, 54, 61, 0.5)), url(plethoraBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    footer {
        padding-top: 25px;
    }
}

body.loggedin {
    background-color: #D8D8D8;
    header {
        background-color: $black;
    }
    .label-info {
        color: $darkTeal;
        background-color: transparent;
        font-weight: 300;
    }
    footer {
        height: 160px;
        margin-top: 50px;
        background-image: linear-gradient(rgba(31, 54, 61, 0.6), rgba(31, 54, 61, 0.6)), url(plethoraBackground.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        a {
            color: $white;
            font-size: 14px;
        }
    }
}

body {
    #notice.label-info {
        background-color: transparent;
    }
    .mainContent {
        //min-height: 100%;
        //margin-bottom: -190px;
        padding-bottom: 100px;
        &:after {
            content: "";
            display: block;
        }
        .tagline {
            color: $white;
            padding-top: 100px;
            font-size: 40px;
            font-weight: 300;
        }
        .subheaderHome {
            font-size: 25px;
            color: $white;
        }
        #signupBtn {
            margin-top: 55px;
            background-color: transparent;
            border: 2px solid $white;
            border-radius: 3px;
            padding: 15px 25px;
            &:hover {
                background-color: rgba(206, 237, 231, .2);
                border-color: $teal;
                a {
                    font-weight: bold;
                }
            }
            a {
                color: $white;
                font-size: 20px;
            }
        }
    }

    // Log In, Sign Up pages - only accessible when not logged in
    #loginForm, #signupForm {
        padding: 15px 20px 10px;
    }
    #login, #signup {
        padding: 8px 0px 10px;
        margin-top: 25px;
        border-radius: 3px 3px 0px 0px;
        background-color: rgba($darkTeal, 0.75);
        color: $white;
        h1{
            font-weight: 300;
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
    #loginForm, #signupForm {
        padding-top: 10px;
        border-radius: 0px 0px 3px 3px;
        background-color: rgba($white, .4);
    }
    #loginForm {
        .form-inputs {
            font-size: 15px;
            font-weight: 300;
            a {
                color: $black;
            }
        }
    }
    #signupFormBtn, #loginFormBtn {
        font-size: 15px;
        background-color: rgba($darkTeal, 0.85);
        border: none;
        border-radius: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        min-width: 150px;
        color: $white;
        font-weight: 300;
        &:hover {
            background-color: rgba($black, .85);
        }
    }

    //Logged in pages
    #searchBarAndButton {
        padding-top: 25px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        #searchType {
            float: left;
            width: 65px;
            box-shadow: none;
        }
        select#searchType.form-control {
            border: none;
            border-radius: 3px 0px 0px 3px;
            -webkit-appearance: none;
            height: 32px;
            background-color: RGB(167, 167, 167);
            color: white;
        }
        #searchBar {
            float: left;
            margin-left: -2px;
            background-color: white;
            border: 1px solid white;
            padding: 5px 15px;
            color: $black;
        }
        #searchBtn {
            float: left;
            height: 32px;
            border-radius: 0px 3px 3px 0px;
            background-color: white;
            color: RGB(167, 167, 167);
        }
    }
    .mediaCat {
        margin: 0px -15px 40px;
        padding: 25px 0px 20px;
        border-radius: 3px 3px 0px 0px;
        background-color: $darkTeal;
        a {
            font-size: 45px;
            font-weight: 300;
            color: white;
        }
    }
    h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    section.container {
        background-color: white;
        margin-top: 25px;
        width: 100%;
        border-radius: 3px;
    }
    .tvSynopsisSearch {
        width: 70%;
    }

    .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 3px 3px 0px 0px;
        height: 250px;
        width: 100%;
        max-width: 300px;
        color: white;
        overflow: hidden;
        .hoverLayer {
            height: 250px;
            width: 100%;
            transition: all 0.3s ease;
            .title, .albumName, .artistName {
                font-weight: 300;
                color: white;
                padding-top: 30px;
            }
            .tvSynopsis {
                font-weight: 300;
                width: 80%;
                padding-top: 15px;
                transition: all 0.3s ease;
                text-decoration: none;
            }
        }
    }
    .itemLink:hover {
        .hoverLayer {
            margin-top: -20px;
            background: rgba(18, 20, 20, .7);
            border-radius: 3px 3px 0px 0px;
        }
        .tvSynopsis, .title, .albumName, .artistName {
            visibility: visible !important;
            opacity: 1 !important;
        }
    }
    .searchImage {
        margin-top: 30px;
        border-radius: 3px 3px 0px 0px;
    }
    .musicItemsSection {
        height: 220px;
        overflow: hidden;
    }
    //styling for media detail pages
    .detailContainer {
        margin-top: 15px;
    }
    .mediaDetailsContainer {
        margin-top: -50px;
    }
    .mediaTitle {
        font-weight: 300;
        color: white;
        text-align: center;
        background-color: $darkTeal;
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 10px;
        font-size: 30px;
        border-radius: 3px 3px 0px 0px;
        h1, h2 {
            font-weight: 300;
        }
    }
    .mediaDetails{
        border-radius: 0px 0px 3px 3px;
        padding: 5px 10px 25px;
        background-color: white;
        h3 {
            font-size: 20px;
            font-weight: 300;
        }
        h4 {
            font-size: 15px;
            font-weight: 300;
        }
    }
    .detailImage {
        max-height: 375px;
        margin-top: 20px;
        border-radius: 3px;
    }

    //button styling
    #leftBtn, #movieAdd, #rightBtn, .btnDetail {
        background-color: $teal;
        border: none;
        &:hover {
            background-color: $darkTeal;
            color: $mint;
        }
    }
    #leftBtn {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 3px;
        color: $white;
    }
    #rightBtn {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 3px;
        border-left: 1px solid $darkTeal;
        color: $white;
    }
    .btn-group {
        max-width: 300px;
        margin: auto;
        margin-bottom: 25px;
    }
    .btnGroupDetail {
        max-width: 200px;
        margin-bottom: 75px;
    }
    .btnDetailRight {
        border-left: 1px solid $darkTeal;
    }
}

footer {
    height: 200px;
    background-color: $black;
    a {
     color: $white;
     &:hover {
         color: $white;
     }
    }
    .footerLogo {
        width: 100%;
        max-width: 150px;
    }
    .footerLinks {
        padding-top: 30px;
        margin-bottom: 20px;
        .what {
            margin-top: 15px;
            margin-bottom: 10px;
        }
        .making {
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        background-color: transparent;
    }
    body {
        //logged out pages
        .mainContent {
            margin-bottom: -100px;
            min-height: 100%;
            .tagline {
                padding-top: 190px;
                font-size: 55px;
            }
            .subheaderHome {
                font-size: 35px;
            }
        }
        #login, #signup {
            margin-top: 100px;
            h1{
                font-size: 40px;
            }
        }
        #searchBar {
            width: 500px;
        }
        .albumTitleSearch {
            margin-top: 30px;
        }

        //media detail pages
        .mediaDetailsContainer {
            margin-top: 0px;
        }
        .detailImage {
            max-height: 500px;
        }
        .mediaTitle {
            font-size: 40px;
        }
        .mediaDetails{
            padding: 5px 45px 25px;
            h3 {
                font-size: 25px;
                font-weight: 300;
            }
            h4 {
                font-size: 22px;
            }
        }
    }
    footer {
        .footerLinks {
            p {
                margin-top: 25px;
            }
        }
    }
}
