// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$yellow: #FFC857;

header {
    background-color: rgba(72, 78, 92, .9);
    height: 150px;
    a {
        color: RGB(200, 202, 206);
    }
}

body {
    background-image: linear-gradient(rgba(72, 78, 92, .3), rgba(72, 78, 92, .3)), url('https://unsplash.it/3000/2000?image=767');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .mainContent {
        color: RGB(200, 202, 206);
        min-height: 100%;
        margin-bottom: -160px;
        &:after {
            content: "";
            display: block;
        }
        .tagline {
            color: white;
            padding-top: 150px;
            font-size: 50px;
        }
    }
    #login, #signup, #loginForm, #signupForm {
        background-color: rgba(72, 78, 92, .9);
        padding: 15px 20px 18px;
    }
}

footer {
    height: 200px;
    background-color: rgb(72, 78, 92);
    a {
        color: RGB(200, 202, 206);
    }
}

@media screen and (min-width: 769px) {
    header {
        background-color: transparent;
    }
    footer {
        height: 150px;
    }
}
